.buttonGroup {
    display: flex;
    flex-direction: column;
}

.buttonItem {
    margin: 30px;
    width: 80px;
    height: 80px;
}

.form {
    margin: 0 auto;
    text-align: center;
    padding: 32px;
}

.input {
    margin: 10px;
}

.parent, .child, .item {
    margin: 30px;
    padding: 10px;
    outline: 1px solid green;
}

.nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    list-style: none;
}

.liItem {
    margin: 20px;
    padding: 20px;
    border: 3px solid blue;
}

.liItem.active {
  background-color: aqua;
}

.ball {
    width: 50px;
    height: 50px;
    background-color: blue;
    border-radius: 50%;
    z-index: 20;
    position: absolute;
}